/* Grid system */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

#container {
	margin: 0 auto;
	padding: 0 $gutter-width;
	max-width: $site-max-width;
}

.right-box {
	float: right;
}

.left-box {
	float: left;
}
