/* Grid system */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

#container {
	margin: 0 auto;
	padding: 0 $gutter-width;
	max-width: $site-max-width;
}

.right-box {
	flex-basis: $grid-right-width;
	min-width:250px;
}

.left-box-pad-320,
.left-box {
	flex-basis: $grid-left-width;
	padding-right: $gutter-width;
}

.flex-container {
	display: flex;
	flex-direction: row-reverse;

	@media screen and (max-width: $screen-sm-min) {
		flex-direction: column-reverse;
	}
}

.pre-wrapper {
	max-width:100%;
	width:100%;
	display: table;
	table-layout: fixed;
}