/* Typography */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

// Link
a {
	color: $link-color;
	outline: none;

	&:hover {
		color: $link-hover-color;
	}
}

// Paragraph
p {
	margin: 0 0 rem(16);
}

// List
ul, ol {
	margin: rem(26) 0;
	padding-left: rem(36);
//	padding: 1px 0 1px rem(36);

	ul, ol {
		margin: rem(10) 0 rem(26);
	}

	&.no-style {
		list-style: none;
		padding: 0;
	}

}

li {
	margin: 2px 0;
}

// Heading
h1 {
    font-size: rem(26);
	line-height: (38 / 33) + em;
	margin: 0 0 rem(10);
	padding: 0;
    word-break: break-all;

    @media (min-width: $screen-xs) {
        font-size: rem(33);
    }
}

h2 {
	font-size: rem(21);
	line-height: (26 / 21) + em;
	margin: 0 0 rem(6);
}

h3 {
	font-size: rem(17);
	line-height: (21 / 17) + em;
	margin: 0 0 rem(4);
}
