/* Box */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

.box {
	@include box();
	padding: 10px;

	&__title {
	}
}

// page boxes
.box-wrapper {
	display: table;
	width: 100%;
}

.box-padding {
	padding: 20px 0;
}

.right-box-300 {
	width: 300px;
}

.left-box-pad-320 {
	margin: 0 320px 0 0;
}

// page boxes extends
.announce-items {
	padding: 10px 0;
}

.announce-items a {
	display: block;
	padding: 0 0 10px 0;
}
