/* Forum */
@import "../_config";
@import "../_mixins";

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

$topics-item-icons-width: 38px;
$topic-icon-size: 30px;

@import "forum/forum-stat";
@import "forum/topics";
@import "forum/topics-item";
@import "forum/topic-icons";
@import "forum/topic-actions";

.forum {
    margin: 0 0 $gutter-width * 2;

    &__title {
    }

    &__description {
    }
}

.sub-forum {
    background: lighten(#f0f5fa, 3%);
    border: 1px solid $box-border-color;
    border-bottom-width: 0;
    display: table;
    position: relative;
    width: 100%;

    &:last-child {
        border-bottom-width: 1px;
    }

    &__title {
        font-size: 15px;
    }

    &__description {
    }

    &__info,
    &__stat {
        display: table-cell;
        padding: 10px;
        vertical-align: top;
    }

    &__info {
    }

    &__stat {
        background: lighten(#f0f5fa, 2%);
        font-size: rem(13);
        width: 280px;
    }

    @media (max-width: $screen-float-breakpoint - 1) {
        display: block;

        &__info {
            padding-bottom: 0;
        }

        &__info,
        &__stat {
            display: block;
            width: auto;
        }
    }
}

.sub-forum-stat {
    &__entry {
        display: inline-block;
        width: 49%;

        &_post-title,
        &_post-author {
            display: block;
            width: 98%;
        }

        &_post-title {
            padding: 5px 0;
        }

        &_post-author {
            padding: 5px 10px 5px 0;
        }
    }
}
