/* Main menu horizontal */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

.main-menu {
	@extend %clearfix;
	@include box();
	font-size: 0;

	a {
		color: inherit;
		text-decoration: none;
	}

	&__item {
		color: #000000;
		display: inline-block;
		font-size: rem(13);
		font-weight: bold;
		line-height: (36 / 13) + em;
		padding: 0 ($main-menu-item-h-space / 2);
		text-decoration: none;
		transition: all 0.06s;
		vertical-align: baseline;

		span {
			display: block;
			transition: all 0.06s;
		}

		&:hover {
			> span {
				text-shadow: 0 1px 5px #2020b2;
				transform: translateY(-3px);
			}
		}

		&_composite {
		}

		@media (max-width:640px) {
			display: block;
			border-bottom: solid 1px #D2D2D2;

			&:hover {
				text-shadow: 0 1px 5px #2020b2;
				transform: none;
			}
		}
	}

	@media (max-width:640px) {

	}
}

.main-menu-item-composite {
	position: relative;
	padding-left: $main-menu-item-h-space / 2 + 24px;

	&__icon-wrapper {
		height: 1em;
		position: relative;
		width: 24px;
	}

	&__icon {
		background: url(../images/icon-new-25x25.png) no-repeat 50% 50%;
		background-size: 100% 100%;
		height: 25px;
		left: ($main-menu-item-h-space / 4);
		margin-top: -12px;
		position: absolute;
		top: 50%;
		transform: scale(19 / 25, 19 / 25);
		transition: all 0.06s;
		width: 25px;

		&:hover {
			transform: scale(1, 1);
		}
	}

	&__link {
		display: block;
		transition: all 0.06s;

		&:hover {
			text-shadow: 0 1px 5px #2020b2;
			transform: translateY(-3px);
		}
	}
}

.main-menu-compact-button {
	font-size: rem(13);
	cursor: pointer;
	position: relative;
	padding-left: $main-menu-compact-button-lines-width + $main-menu-compact-button-lines-h-space * 2;

	@media (min-width: 640px + 1px) {
		display: none;
	}

	&__hamburger {
		position: absolute;
		left: $main-menu-compact-button-lines-h-space;
		top: 50%;
		margin-top: -($main-menu-compact-button-lines-height / 2);

		&,
		&:before,
		&:after {
			width: $main-menu-compact-button-lines-width;
			height: $main-menu-compact-button-lines-height;
			background: $main-menu-compact-button-color;
		}

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
		}

		&:before {
			top: -($main-menu-compact-button-lines-height + $main-menu-compact-button-lines-space);
		}

		&:after {
			bottom: -($main-menu-compact-button-lines-height + $main-menu-compact-button-lines-space);
		}
	}

	&:hover {
		.main-menu-compact-button__hamburger {
			&,
			&:before,
			&:after {
				background: darken($main-menu-compact-button-color, 5%);
			}
		}
	}
}

.main-menu-compact {
	@media (max-width: 640px) {
		display: none;

		&_open {
			display: block;
		}
	}
}