/* Main-logo */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

#main-logo {
	display: block;
	float: left;
	width: 170px;
	height: 90px;
	background: url(../images/php-logo.png) no-repeat center center;
}
