/* Member-box */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

#member-box {
	float: right;

	.member-actions {
		padding: 0 0 10px 0;
		text-align: right;

		a {
			margin: 0 0 0 4px;
		}
	}

	.member-actions-extended {
		padding: 10px 10px 0 10px;
		height: 60px;
		border: solid 1px #b2b2b2;
		border-radius: 3px;

		.action-group {
			float: left;
			width: 125px;
		}
	}
}
