/* Buttons */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	background: #2d32de;
	border-radius: 4px;
	border: solid 1px #4b55e3;
	box-shadow: 0 -10px 20px -10px #444444 inset;
	color: #fde9d1;
	display: inline-block;
	font-weight: bold;
	height: 28px;
	padding: 0 23px;

	&:hover {
		box-shadow: 0 -10px 20px -10px #000000 inset;
		cursor: pointer;
	}
}

form.loading input[type="submit"] {
	background: url(../images/ajax-loader.gif) no-repeat center center #f0f0f0;
	color: transparent;
}
