/* Forms */
@import "../_config";
@import "../_mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
form {
	position: relative;
	padding: 0 0 16px 0;
}

form .loading-cover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

form.loading .loading-cover {
	display: block;
}

.label, label {
	display: block;
	position: relative;
	padding: 0 0 2px 0;
	font-style: italic;
}

.elem {
	position: relative;
	padding: 0 0 8px 0;
}

.half-box {
	float: left;
}

.protection-box {
	display: none;
}

.protection-box img, img.protection-image {
	cursor: pointer;
}

.elem-message {
	display: none;
	padding: 4px 10px;
	color: #ffffff;
	background: #a20000;
}
