/* Form controls */
@import "../config";
@import "../mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

input[type="text"], input[type="password"], textarea {
	line-height: 16px;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	border: solid 1px #969696;
	border-radius: 4px;
}

textarea {
	resize: vertical;
	padding: 2px;
	width: 400px;
	height: 80px;
}

input[type="text"], input[type="password"] {
	padding: 4px 2px;
	width: 240px;
}

input[type="text"].short {
	width: 100px;
}

input[type="text"].middle {
	width: 300px;
}

