/* Init styles */
@import "../config";
@import "../mixins";
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

html {
	background: $site-bg;
	font-family: $base-font-stack;
	font-size: percentage($base-font-size / 16); // ~10px для удобства вычислений
	line-height: 1.2; // Единицу измерения не задаем!!!
	color: $base-text-color;
}

body {
	background: $site-bg;
	font-size: rem(13); // ~13px
}
