//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

/// Compilation styles for IE8 if true.
$IE8: false !default;

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// Fonts

/// Base font stack
$base-font-stack: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
/// Base font size
$base-font-size: 10;

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// Sizes

$gutter-width: 20px;
$_site-width-base: 1100px;

$grid-real-site-max-width: ($_site-width-base - $gutter-width * 2) / 1px;
$grid-right-width: percentage(300 / $grid-real-site-max-width);
$grid-left-width: percentage(($grid-real-site-max-width - 300) / $grid-real-site-max-width);

$topic-post-side-width: 130px;

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// Media queries breakpoints

$screen-min:    320px;
$screen-xs:     480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-max:    1400px;

$screen-float-breakpoint: 640px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// Colors

$site-bg: #f0f0f0;
$base-text-color: #202020;

$link-color: #2020b2;
$link-hover-color: #828282;

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// Modules

// logo
$logo-width: 170px;
$logo-height: 90px;
$logo_small-width: 75px;
$logo_small-height: 40px;

// box
$box-bg: #f0f5fa;
$box-border-color: #C2CFDF;
$box-radius: 3px;


// main menu
$main-menu-item-h-space: 20px;
$main-menu-compact-button-color: #D2D2D2;
$main-menu-compact-button-lines-width: 25px;
$main-menu-compact-button-lines-height: 5px;
$main-menu-compact-button-lines-space: 3px;
$main-menu-compact-button-lines-h-space: 10px;
$main-menu-compact-breakpoint: $screen-xs;

// alerts

$alert-default-color: #d2d2d2;
$alert-info-color: #4fc1f2;
$alert-success-color: #4add3e;
$alert-warning-color: #f0c628;
$alert-danger-color: #f2826a;
